---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/body/date/2015-08-13.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Locale:
      - en_US
      Authorization:
      - OAuth oauth_consumer_key="<FITBIT_CONSUMER_KEY>", oauth_nonce="c9hnTOalsVffbf4iKST6CVd6c2uI5ZNNBD2XZ3vPNw",
        oauth_signature="ycw4ZTUKU9lYNebeVetLfKfVqGg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439503304", oauth_token="<FITBIT_USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '149'
      Fitbit-Rate-Limit-Reset:
      - '3516'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"body":{"bicep":0,"bmi":35.35,"calf":0,"chest":0,"fat":0,"forearm":0,"hips":0,"neck":0,"thigh":0,"waist":0,"weight":266.7},"goals":{"fat":20,"weight":187.39}}'
  recorded_at: Thu, 13 Aug 2015 22:01:48 GMT